<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Hoomans</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"/>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<h1>Hoomans in the Cook, Serve, Delicious! 2!! Mod</h1>
		<div class="hoomans">
${HOOMANS}
		</div>
	</body>
</html>
